*{
    margin:0;
}

html, body {
    height: 100%;
    background-color: rgb(202, 189, 189);
}



.nav{
    position: fixed;
    background-color: blue;
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: column;
    z-index: 99;
    font-size: 20px;
}
#logo{
    align-self: flex-start;
    margin-top: 10px;
}

.nav-ul{
    align-self: flex-end;
    margin: -20px;
}
nav ul li{
    list-style: none;
    display: inline;
}

.nav-ul li a, #logo a{
    color: white;
    text-transform: capitalize;
    padding: 35px;

}

a{
    text-decoration: none; 
}

/* ====================== Home ======================== */
.images{
    position: relative;
    width: 100% ;
    height: 50%;
    object-fit: cover;
    margin-top: 2px;
}

.welcome-block h1{
    font-family: "Montserrat",sans-serif;
    width: 25%;
    line-height: 1.3;
}

/* ===========================End of Navbar============================== */

.section{
    height: 100%;
    border-bottom:solid white ;
    padding-top: 55px;
}
