@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

*{
    margin:0;
}

html, body {
    height: 100%;
    background-color: #fff;
    font-family: Arial,sans-serif;;
}
html{
    scroll-behavior: smooth;
}



.nav{
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    z-index: 99;
    font-size: 20px;
    border-bottom: 1px solid rgba(146, 144, 144, 0.233);
    /* font-family: 'Balsamiq Sans', cursive; */
}
#logo{
    align-self: flex-start;
    margin-top: 15px;
    
}

.nav-ul{
    align-self: flex-end;
    margin: -20px;
    margin-right: 20px;
}
nav ul li{
    list-style: none;
    display: inline;
    
}


.nav-ul li a, #logo a{
    color: black;
    text-transform: capitalize;
    padding: 14px 15px 14px;
    font-weight: bolder;

}
#logo a{
    color: #056cc4;
}

a{
    text-decoration: none; 
}
/* ===========================End of Navbar============================== */

/* ====================== Home ======================== */
.images{
    position: relative;
    width: 100% ;
    height: 50%;
    object-fit: cover;
    margin-top: 2px;
}

.welcome{
  
    font-weight: bolder;
    width: 30%;
    line-height: 1.3;
    color: #056cc4;
    padding: 4%;
    text-transform: uppercase;
    
}
.welcome-block{
   display: flex;

}


.left-line{
    border-left: 1.5px solid #c2bebe;
    align-self: center;
    height: 250px;
    display: flex;
}
.sub-entrance{
    align-self: center;
    padding: 10%;
    color: #056cc4;
    font-size: 20px;
    font-weight: 100;

}
/* ==========================End Of Home===================================== */

/* ==================About===================== */
.about-title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
}

.about-block{
    display: flex;
    padding: 0px 100px 0px;
}

.about-block img{
    width: 310px;
}
.left-about{
    align-items: center;
    width: 50%;
    padding-right: 50px;

}
.left-about p{
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    line-height: 2em;
}
.right-about{
    position: relative;
}
.about-img1{
    position: relative;
    top: 0;
    left: 0;
    box-shadow: 5px 10px 18px #888888;
    /* border: 1px red solid; */
}
.about-img2{
    position: absolute;
  top: 65px;
  left: 195px;
  box-shadow: 5px 10px 18px #888888;

  /* border: 10px green solid; */
}
.about-img3{
    position: absolute;
  top: 200px;
  left: 50px;
  box-shadow: 5px 10px 18px #888888;

  /* border: 10px rgb(102, 0, 128) solid; */
}
/* ==================End of About============== */

/* ==================Services================= */

#services h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
    
}
.service-card{
    margin-right:4% ;
    margin-left: 4%;
    height:550px ;
    width: 350px;
    /* box-shadow: 5px 10px 20px #888888; */
    flex: none;
    justify-content: center;
    perspective: 1000px;
}
.container-cards{
    display: flex;
    width: 100%;
    justify-content: center;

}

.card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    box-shadow: 5px 10px 20px #888888;
    
}

.service-card:hover .card-inner {
    transform: rotateY(180deg);
  }

  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .front {
    background-color: #2980b9;
    color: black;

  }
  
  .back {
    background-color: #056cc4;
    color: white;
    transform: rotateY(180deg);
  }

    .service-detail{
      list-style: none;
      margin-top: 65%;
      padding: 0px 20px 0px;
      color: rgb(255, 253, 253);

  }
  .service-detail li{
      border-bottom:.5px solid rgba(255, 255, 255, 0.185);
      padding-bottom: 20px;
      padding-top: 20px;
  } 
  
  .price{
      display: flex;
      flex-flow: column;
      margin-top: 50%;
      font-size: 25px;

    }
    .price h3{
        margin-bottom: 25px;
    }
    .price h1{
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 55px;
        margin-bottom: 25px;

    }
    .price button{
        width: 50%;
        height: 70px;
        align-self: center;
        font-size: 20px;
        border-radius: 10px;
        outline: 0;
        border: none;
        cursor: pointer;
    }

/* ===================End of Services =========== */

/* ==========Contact Section=========== */

.contact-section{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
}

.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
  }
  
  /* Slides */
  .mySlides {
    /* display: none; */
    padding: 55px;
    text-align: center;
  }
  


  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .author {color: cornflowerblue;}

/* ========End of contact section====== */

/* Footer */

footer{
    background-color:#056cc4 ;
    height: 150px;
    margin-top: 50px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    color: rgb(216, 216, 216);
}
footer span{
    margin-bottom: 15px;
}




.section{
    height: 100%;
    border-bottom:solid white ;
    padding-top: 70px;
}
